a:hover .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	font-size: 13px;
	letter-spacing:-1px;
	line-height:140%;
	padding: 10px 0;
	background: #111;

	opacity: 0.9;
	
	color: #fff;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	margin: 0;
    width: 80%; 
    height: 250px;
	
}

a .desc {
    display: none;
}

a .desc img {
    width: 20px;
    height: 20px;
}


/* a:hover::after {
    content: 'About Movie';
    background-color: red;
} */